{% extends "base_template.html" %}

{% block header %}

<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
<link rel="stylesheet"
      href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />

{% endblock %}

{% block body %}

<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-md-8 ">
            <section class="body-section">

                <div class="body-section-inner">
                    <h2 class="section-heading"> About Me</h2>
                    <p>I am a Software Engineer currently working at Microsoft.</p> 
                    <p>I have significant experience working on client and server side technologies.</p>
                    <p>I enjoy learning new technologies.</p>
                    
                </div>
            </section>

            <section class="body-section">
                <div class="body-section-inner">
                    <h2 class="section-heading"> GitHub</h2>
                    <!-- Prepare a container for your calendar. -->
                    <div class="calendar">
                        <!-- Loading stuff -->
                        Loading the data just for you.
                    </div>
                </div>
            </section>
            
        </div>
        <div class="col-md-4">
            <section class="body-section">
                <div class="body-section-inner">
                    <h2 class="section-heading"> Programming Music</h2>
                    <div style="display: inline-block"><i class="fa fa-heart">  <b> Piano </b> </i></div>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/watch?v=JOtDS0vRwxg&index=6&list=PLJnk_EDr7BD-2A59Qwo2DlfX3TiDXLWvy">  Inception Time</a>
                        </li>
                        <li >
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/watch?v=r0gzCptvSSA&list=PLJnk_EDr7BD-2A59Qwo2DlfX3TiDXLWvy&index=4">I Giorni</a>
                        </li>
                        <li>
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/watch?v=7pvci1hwAx8&index=21&list=PLJnk_EDr7BD-2A59Qwo2DlfX3TiDXLWvy">Jurassic Park Theme</a>
                        </li>
                        <li>
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/watch?v=kcihcYEOeic&index=3&list=PLJnk_EDr7BD-2A59Qwo2DlfX3TiDXLWvy">Nuvole Biance</a>
                        </li>
                        <li>
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/watch?v=Smqj_z04i4A&index=19&list=PLJnk_EDr7BD-2A59Qwo2DlfX3TiDXLWvy">Waltz in a Minor</a>
                        </li>
                        
                    </ul>
                    

                </div>
            </section>
        </div>
    </div>


</div>

{% endblock%}


{% block script %} 
<script>
    GitHubCalendar(".calendar", "deelaws");
</script>
{% endblock %}