<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css' rel='stylesheet' type='text/css' /> 
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    {% block header %} {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="profile pull-left">
            <h1 class="name"> Waleed Shahid</h1>
            <h2 class="ocupation"> Software Engineer</h2>
        </div>
        <a class="btn btn-primary pull-right">
            Contact Me
        </a>
    </div>

    {% block nav %} {% endblock %}

    {% block body %} {% endblock %}

    {% block footer %} {% endblock %}
</body>
</html>